# ==================================================
# Eureka (Service Discovery)
# ==================================================
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# ==================================================
# Spring Configuration
# ==================================================
spring:
  # =============================
  # Security - OAuth2 Resource Server (JWT)
  # =============================
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/fitness-app/protocol/openid-connect/certs

  # =============================
  # Spring Cloud Gateway Routes
  # =============================
  cloud:
    gateway:
      server:
        webflux:
          routes:

            # =============================
            # USER SERVICE
            # =============================
            - id: userservice-users
              uri: lb://USERSERVICE
              predicates:
                - Path=/api/v1/users/**

            - id: userservice-auth
              uri: lb://USERSERVICE
              predicates:
                - Path=/api/v1/auth/**

            # =============================
            # ACTIVITY SERVICE
            # =============================
            - id: activityservice
              uri: lb://ACTIVITYSERVICE
              predicates:
                - Path=/api/v1/activities/**

            # =============================
            # AI SERVICE
            # =============================
            - id: aiservice
              uri: lb://AISERVICE
              predicates:
                - Path=/api/v1/recommendations/**

      actuator:
        enabled: true


# ==================================================
# Actuator
# ==================================================
management:
  endpoint:
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: gateway,health,info

# ==================================================
# External Services Configuration
# ==================================================
services:
  userservice:
    base-url: http://userservice
    base-path-auth: /api/v1/auth
    base-path-users: /api/v1/users
    endpoints:
      exists: /{keycloakId}/exists
      find-by-id: /{keycloakId}
      register: /register
